/* MobileMenu */
@media (max-width: 501px) {
  .mobileMenu {
    display: flex;
    padding: 60px 25px;
    min-height: 812px;
    position: absolute;
    right: -100%;
    z-index: 10;
    background-color: white;
    transition: ease 0.5s all;
  }
  .mobileMenu_active {
    right: 0;
  }
  .mobileMenuList {
    margin: 0 50px 0 0;
  }
  .mobileMenu__item a{
    font-size: 34px;
    font-weight: bold;
    line-height: 1.235294117647059;
    color: #828282;
  }
  .mobileMenu__item_active {
    
  }
  .mobileMenu__item:not(:last-child) {
    margin: 0 0 68px 0;
  }
  .mobileMenuSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .mobileMenu__langToggle {
    font-size: 34px;
    line-height: 1.235294117647059;
    writing-mode: vertical-lr;
    
  }
  .mobileMenu__close {
    width: 23px;
    cursor: pointer;
  }
}
@media (min-width: 501px) {
  .mobileMenu {
    display: none;
  }
}