.home {
  padding: 40px 0 104px 0;
}
.home__content {
  position: relative;
}
.home__menu {
  position: absolute;
  right: 8%;
  top: 0;
  cursor: pointer;
}

.home__title {
  margin: 0 0 31px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__name {
  max-width: 130px;
  font-weight: bold;
  font-size: 47px;
  line-height: 1.25531914893617
}
.home__prof {
  max-width: 154px;
  font-size: 18px;
  font-weight:500;
  line-height: 1.222222222222222; 
}
.home__langToggle {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  /* color: black; */
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
}

.home__lang {
  color: #828282;
  cursor: pointer;
}

.home__lang_active {
  color: black;
}

.home__image {
  display: block;
  width: 100%;
  max-height: 387px;
  object-fit: cover;
}
@media (max-width: 500px) {
  .home__langToggle {
    display: none;
  }
  .home__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .home__name {
    margin: 0 0 23px 0;
  }
  .home__image {
    max-height: 478px;
  }
}
@media (min-width: 501px) {
  .home__menu {
    display: none;
  }
}
