
  @media (max-width: 500px) {
    .header {
      display: none;
    }
  }

.header__list {
  padding: 33px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #828282;;
}
.header__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #828282;
  cursor: pointer;
}
