.skills__item {
  width: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__itemImg {
  width: 90px;
  height: 90px;
}
.skills__itemImg {
  margin: 0 0 24px 0;
}
.skills__itemTitle {
  margin: 0 0 40px 0;
}
@media(max-width: 750px) {
  .skills__item:not(:last-child) {
    margin: 0 0 30px 0;
  }
}