@import url(https://fonts.googleapis.com/css?family=Khula:300,regular,600,700,800);
html {
  font-family: Khula;
}
._container {
  padding: 0 10px;
  max-width: 943px;
  margin: 0 auto;
}

.wrapper {
  /* overflow: hidden; */
  position: relative;
}
.aboutMeAnchor {
  position: absolute;
  top: -19%;
}
.skillsAnchor {
  position: absolute;
  top: -14%;
}
.portfolioAnchor {
  position: absolute;
  top: -4%;
}
@media (max-width: 500px) {
  .wrapper {
    overflow: hidden;
  }
}